<article ng-repeat="article in model.articles">
    <h3><a sref="'blog.post'" params="{ id: article.id }" ng-bind="article.title"></a></h3>
    <small ng-bind="article.created | date:'yyyy-MM-dd'"></small>
    <div class="clearfix">
        <div class="pull-left">
            <span class="icon-tag" ng-show="article.tags" /> &nbsp;
            <span ng-repeat="tag in article.tags">
                <a href="#/tag/{{tag.title}}" ng-bind="tag.title"></a>{{$last ? '' : ', '}}
            </span>
        </div>
        <a sref="'blog.post.comment'" params="{ id: article.id }" class="pull-right">
            Comments &nbsp;<span class="badge" ng-bind="article.childCount"></span>
        </a>
    </div>
    <div db-compile="article.html" style="margin: 15px 0"></div>
    <footer class="pull-right">
        by {{article.author}}
    </footer>
    <div class="clearfix"></div>
</article>